<div class="background" [class]="mode">
  
  <div class="circle1"></div>
  <div class="circle2"></div>
  
  <div class="calculator-wrapper">
  
    <div class="display-wrapper">
      
      <div class="modebox">
        <span>Mode</span>
        
        <div class="darkmode">
          <img *ngIf="!isDarkModeActive" [ngStyle]="darkModeButtonStyle" (click)="animateDarkMode()" src="/assets/bright.svg" alt="bright">
          <img *ngIf="isDarkModeActive" [ngStyle]="darkModeButtonStyle" (click)="animateDarkMode()" src="/assets/dark.svg" alt="dark">
        </div>
      </div>

      <div class="display">
        <p class="numbers">
          <span>{{firstNumber}}</span>
          <sup *ngIf="operator === 'n'">2</sup>
          <span *ngIf="operator !== 'n'"> {{operator}} </span>
          <span> {{secondNumber}} </span>
        </p>
        <p class="sum">{{sum}}</p>
      </div>
    </div>
    
    <div class="grid-wrapper">
      <button mat-button [class]="button.class!" *ngFor="let button of buttonList" (click)="handleButtons(button)" [ngClass]="{'margin': assignMarginsToOperators(button.value)}">
        <span>{{button.value}}</span>
        <sup *ngIf="button.value === 'n'">2</sup>
      </button>
    </div>
  
  </div>
</div>
